.slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.slider > .slider-item{    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.slider > .slider-item > .image{    
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider > .slider-item > .title{
    margin: 10px 0;
}

.slider > .slider-item > .start-btn{
    width: 206px;
    height: 62px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-weight: 700;
    margin: 10px 0;
}